@model IEnumerable<Transport>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Transport</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Trasport Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
